@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../public/fonts/Familjen_Grotesk/familjen-grotesk.css';

h1, h2, h3, h4, h5, h6 {
    font-family: "familjen-grotesk", Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .font-grotesk{
    font-family: "familjen-grotesk", Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 20px;
  }

.content a {
  text-decoration: underline;
}


h1 {
  font-size: 4rem;
  // text-shadow: 1px 1px 4px rgb(0 0 0 / 50%);
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

