.nextjsWrapper {
  .nextjsLogo {
    .nextjsPath1 {
      fill: #7C7C7C;
      transition: fill 0.3s ease-in;
    }

    .nextjsPath2 {
      fill: #7C7C7C;
      transition: fill 0.3s ease-in;
    }

    .nextjsPath3 {
      fill: #7C7C7C;
      transition: fill 0.3s ease-in;
    }

    .nextjsPath4 {
      fill: #7C7C7C;
      transition: fill 0.3s ease-in;
    }

    .nextjsPath5 {
      fill: #7C7C7C;
      transition: fill 0.3s ease-in;
    }

    .nextjsPath6 {
      fill: #7C7C7C;
      transition: fill 0.3s ease-in;
    }

    .nextjsPath7 {
      fill: #7C7C7C;
      transition: fill 0.3s ease-in;
    }

    .nextjsPath8 {
      fill: #7C7C7C;
      transition: fill 0.3s ease-in;
    }
  }

  &:hover {
    .nextjsLogo {
      .nextjsPath1 {
        fill: #000;
      }

      .nextjsPath2 {
        fill: #000;
      }

      .nextjsPath3 {
        fill: #000;
      }

      .nextjsPath4 {
        fill: #000;
      }

      .nextjsPath5 {
        fill: #000;
      }

      .nextjsPath6 {
        fill: #000;
      }

      .nextjsPath7 {
        fill: #000;
      }

      .nextjsPath8 {
        fill: #000;
      }
    }
  }
}